.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.3);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 30%;
}

.popup form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    border: 2px solid black;
    border-radius: 40px;
}

.popup input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup form label {
    text-align: left;
    width: 100%;
}

.popup #timeSpent {
    text-align: center;
}

.popup #rate {
    text-align: center;
}

.popup .btn {
    margin-top: 10px;
    font-weight: bold
}

.popup .btn::hover {
    background-color: #b3b3b3;
}

.popup .timeInputs .timeSpent {
    width: 6em;
    margin: 10px 10%;
}

@media only screen and (max-width: 500px) {
    .popup {
        width: 80%;
    }

    .popup .timeInputs .timeSpent {
        width: 5em;
        margin: 10px 10px;
    }
}
