.selector-container {
    background-color: #e6e6e6;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.selector-container > p {
    font-style: italic;
    font-size: 1.2em;
}

.dropdown {
    width: 150px;
    margin: 0 auto;
}
.dropdown .btn {
    width: 150px;
    /*background-color: #7ebfa0;*/
}
.dropdown .dropdown-menu {
    width: 100%;
    position: absolute;
    display: block;
    transition: max-height .3s, border .3s, padding .3s;
    transition-timing-function: linear;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
}
.dropdown.open .dropdown-menu {
    padding: 5px 0;
}
.dropdown:not(.open) .dropdown-menu {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.dropdown ul {
    position: relative;
}
.dropdown li {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color .2s, font-size .2s, padding .1s, color .2s, text-shadow .2s;
}
.dropdown:not(.open) li{
    font-size: 0;
    padding: 0;
}
.dropdown li:hover {
    background-color: #009fdc;
    color: #f8f8f8;
    text-shadow: 0 0 2px rgba(255, 255, 255, .35);
}
.dropdown li.divider {
    padding: 0;
    transition: height .2s, margin .2s;
}
.dropdown:not(.open) li.divider {
    height: 0;
    margin: 0;
}
