.view-container .btn {
    margin: 20px;
}

.view-container .heading .heading-item {
    display: inline-block;
    padding: 20px 40px 10px;
}

.view-container .heading .heading-item > h3 {
    margin-top: auto;
}

.view-container .empty {
    font-family: 'Franchise', serif;
    margin-top: 50px;
}

.view-container .summary {
    background-color: #f2f2f2;
}

.view-container .summary .summary-item {
    display: inline-block;
    margin: 30px 10%;
}

.view-container .summary .summary-item > h3 {
    margin-top: auto;
}
