.intro {
    text-decoration: underline;
    font-family: 'Franchise', serif;
    margin-bottom: 25px;
}

.table th {
    text-align: center;
    background-color: #53a5c6;
    color: #ffffff;
}

.table > tbody > tr:nth-child(odd) {
    background-color: transparent;
}

.table > tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
}
